.header {
  text-align: center;
  font-family: PKMN;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  text-shadow: 2px 2px 0 #111, -1px -1px 0 #111, 1px -1px 0 #111,
    -1px 1px 0 #111, 1px 1px 0 #111;
}

.name {
  position: absolute;
  text-align: center;
  font-family: PKMN;
  font-size: 20px;
  color: #adadad;
  margin: auto;
  top: 275px;
  left: 340px;
  bottom: 0;
  right: 0;
  text-transform: capitalize;
}

.number {
  position: absolute;
  text-align: center;
  font-family: PKMN;
  font-size: 20px;
  color: #213123;
  margin: auto;
  top: 510px;
  left: 0;
  bottom: 0;
  right: 370px;
}

.frame {
  float: center;
  position: relative;
}

.pokeDex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 700px;
  image-rendering: pixelated;
}

.sprite {
  position: absolute;
  margin-top: 200px;
  width: 200px;
  image-rendering: pixelated;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 310px;
}
