.header {
  text-align: center;
  font-family: PKMN;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  text-shadow: 2px 2px 0 #111, -1px -1px 0 #111, 1px -1px 0 #111,
    -1px 1px 0 #111, 1px 1px 0 #111;
}

.frame {
  border: 0;
  float: center;
  position: relative;
}

.pokeDex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 700px;
  image-rendering: pixelated;
}

.sprite {
  border: 0;
  position: absolute;
  margin-top: 200px;
  width: 200px;
  image-rendering: pixelated;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 310px;
}
