.background {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: #708e7a;
  background: url("../assets/images/forest.png") no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}
